*{
    padding: 0;
    margin: 0; 
}
body{
    background-color: #C1FFC1;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #698B69;
   text-align: center;
   align-items: center;
   
}
.title{
    font-size: 23px;
    padding: 10px 3px;
    color: white;
}
img{
    width: 90px;
    float: left;
}
section{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    background-image: url(./image/leaf.png.jpg);
    background-size: cover;
    overflow: hidden;
    margin: auto;
    max-width: 1000px;
}
section h2{
    font-size: 20px;
}
.clean{
    margin-bottom: 15px;
    color: white;
}
.formcontainer{
    max-width: 300px;
    background-color: #363636BB;
    padding: 30px;

}
input , select{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    margin-bottom: 5px;

}
#DS{
    background-color: #f52828 ;
    font-weight: bold;
    color: white;
    font-size: 20px;
}
select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(./image/arrow.jpg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center ;
}
#ib{
    width: 100px;
}
.discripition{
    color: white;
    display: inline-block;
    max-width: 50%;
    margin-left: 40px;
}
.discripition h3 ,.discripition p{
    margin-bottom: 20px;

}
footer{
    background-color: #202121;
    padding: 30px;
}
